name: Reusable Lint

on:
  workflow_call:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: 'go.mod'

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v8
      with:
        args: --timeout=5m
